@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Seaweed+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --clr-light: #fffdf6;
  --clr-neutral: #ffe3bd;
  --clr-neutral-2: #fcceb3;

  --clr-accent: #b34d3b;
  --clr-accent-2: #451212;
  --clr-dark: #292424;

  --ff-base: "Josefin Sans", sans-serif;
  --ff-heading: "Seaweed Script", cursive;
}

body {
  font-family: var(--ff-base);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  position: relative;
}

h1, h2 {
  font-family: var(--ff-heading);
}

h2 {
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 400;
  position: relative;
  margin-bottom: 2rem;
}

.container {
  width: 100%;
}

header {
  width: 100%;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-neutral);
  padding: 1rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

/* TITLE + LOGO + ICONS */
.title {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.title__logo img {
  width: 50px;
  height: 50px;
  filter: brightness(0%);
}

.title__name {
  font-family: var(--ff-heading);
  font-size: 2.6rem;
  padding: 1rem;
  letter-spacing: 3px;
  font-weight: 500;
}

/* ICONS */

.header-icons {
  width: 100px;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-icons a {
  text-decoration: none;
  background-color: transparent;
}

.header-icons i {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #292424;
}

/* MENU + HAMBURGER */

.menu {
  width: 40rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu a {
  font-size: 1.25rem;
  text-decoration: none;
  position: relative;
  color: var(--clr-dark);
}

.menu a::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  transition: 0.3s;
}
.menu a:hover::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

.menu__hamburger {
  width: 3rem;
  height: 3rem;
  margin-left: auto;
  position: relative;
  cursor: pointer;
  transition: 0.25s;
  display: none;
}

.hamburger_line_one {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #fff;
  position: absolute;
  top: 20%;
  left: 8%;
}

.hamburger_line_two {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #fff;
  position: absolute;
  top: 40%;
  left: 8%;
}

.hamburger_line_three {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #fff;
  position: absolute;
  top: 62%;
  left: 8%;
}

/* INTRO SECTION */

.section__hero {
  height: calc(100vh - 4.2rem);
  display: inline-flex;
  column-gap: 2rem;
}


.section__hero__img {
  border-radius: 3rem;
  min-width: 0; 
  object-fit: cover;
  flex: 1 1 auto;
}


.section__hero__text {
  min-width: 0; 
  text-align: left;
  flex: 1 1 auto;
  align-self: center;
}

.section__hero__text h1 {
  font-size: 8rem;
  line-height: 1;
}

.section__hero__text em {
  font-size: 3rem;
}

.section__hero__text strong {
  color: var(--clr-accent);
}

.section__hero__button {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 6px;
  font-size: 1.25rem;
  text-transform: lowercase;
  letter-spacing: 0.25ch;
  margin-top: 2rem;
}

.section__hero__button:hover {
  cursor: pointer;
  color: var(--clr-neutral);
}

@media (max-width: 1024px ) {
  .section__hero {
    flex-direction: column-reverse;
    row-gap: 1rem;
    height: auto;
    padding: 0;
    margin-bottom: 2rem;
  }
                          
  .section__hero__text {
    align-self: center;
    text-align: center;
  }

  .section__hero__text h1 {
    font-size: 5rem;
    line-height: 1.2;
    padding: 0 0.5rem;
  }

  .section__hero__text em {
    font-size: 2rem;
  }

  .section__hero__img {
    border-radius: 0;
    max-height: 60vh;
  }                  
  
  .section__hero__button {
    margin-top: 0;
  }
}

/* MENU */
.section__menu { 
  text-align: center;
  padding: 2rem 15rem;
}

.section__menu__images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 4rem;
}

.menu-item_image {
  background-color: var(--clr-neutral-2);
  border-radius: 3rem;
  padding: 2rem;
  height: 100%;
  margin-bottom: 1rem;
  display: flex;
  align-self: center;
}

.menu-item img {
  /* object-fit: contain; */
  width: 100%;
  height: auto;
}

.menu-item span {
  color: var(--clr-accent);
  font-weight: 700;
  font-size: 1.5rem;
}


@media (max-width: 1024px) {
  .section__menu {
    padding: 2rem 4rem;
    height: auto;
  }
  .section__menu__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4rem;
  }  
}

@media (max-width: 768px) {
  .section__menu {
    padding: 2rem 4rem;
    height: auto;
  }
  .section__menu__images {
    display: flex;
    flex-direction: column;
  }  
}

/* ABOUT SECTION */

.section__about {
  background-image: url("./img/about-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content {
  width: 45rem;
  max-width: 90%;
  padding: 3rem;
  background-color: var(--clr-accent-2);
  border-radius: 0.5rem;
  color: var(--clr-light);
  text-align: center;
  position: relative;
}

.about-content::before {
  content: "";
  position: absolute;
  width: 310px;
  height: 3px;
  top: 50%;
  right: 27%;
  background-color: var(--clr-neutral-2);
}

.about-content p {
  font-family: var(--ff-base);
  color: var(--clr-neutral);
}

.section__contact {
  display: flex;
}

.section__contact .contact-left {
  width: 50%;
  max-width: 50%;
  height: 100%;
  background-color: var(--clr-neutral-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-left .contact-left-txt {
  font-family: var(--ff-heading);
  padding: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 8px solid #fff;
}

.contact-left span {
  font-size: 8rem;
  text-transform: uppercase;
}

.contact-location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-info {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}

.contact-info h2 {
  color: var(--clr-accent);
  font-size: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.contact-info p {
  color: var(--clr-accent);
  font-size: 1.6rem;
}

.section__contact .contact-location {
  width: 50%;
  height: 100%;
  background-color: var(--clr-accent-2);
}

.scroll-top {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-top a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.5rem;
  border: 2px solid var(--clr-accent);
  border-radius: 50%;
  text-decoration: none;
  color: var(--clr-accent);
  animation: arrowScrollTop 1s infinite;
}

footer {
  width: 100%;
  height: 3rem;
  text-align: center;
  color: var(--clr-accent);
  font-size: 1.2rem;
  letter-spacing: 2px;
}

footer a {
  text-decoration: underline;
  color: inherit;
}
/* RESPONSIVE DESIGN */

@media screen and (max-width: 1220px) {
  .title__name {
    font-size: 1.8rem;
    width: 200px;
  }
}

@media screen and (max-width: 1076px) {
  .title__name {
    font-size: 1.6rem;
  }
  .header-icons i {
    font-size: 1.6rem;
  }
  .section__contact .contact-left {
    display: none;
  }
  .section__contact .contact-location {
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .menu a {
    display: none;
  }

  .menu__hamburger {
    display: block;
  }

  .header-icons {
    display: none;
  }

  .about-content h2 {
    font-size: 2.3rem;
  }
  .about-content::before {
    display: none;
  }
}

@media screen and (max-width: 635px) {
  .about-content h2 {
    font-size: 1.8rem;
  }
  .about-content {
    position: relative;
  }
}

@keyframes arrowScrollTop {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 2px;
  }
}
